.card-wrapper {
  box-shadow: var(--box-shadow);
  padding-bottom: 1em;
  border-radius: var(--border-radius-sm);
  background-color: var(--bg-secondary);
  transition: background-color 0.3s ease-in-out;

  a {
    text-decoration: none;
  }

  img {
    display: block;
    width: 100%;
    height: 200px;
    border-top-left-radius: var(--border-radius-xs);
    border-top-right-radius: var(--border-radius-xs);

    @media screen and (min-width: 768px) {
      height: 150px;
    }
  }

  .card-content {
    padding: 1em;
    color: var(--text-secondary-clr);
    transition: color 0.3s ease-in-out;

    p:first-child {
      margin-bottom: 1em;
      font-size: 1.2rem;
      color: var(--text-clr);
      transition: color 0.3s ease-in-out;
      font-weight: 800;
    }

    p:not(p:first-child) {
      font-size: 0.9rem;
      margin-bottom: 0.5em;
    }

    span {
      font-weight: 600;
    }
  }
}
