.search {
  position: relative;
  display: flex;
  align-items: center;
  color: var(--dark-gray);
  background-color: var(--bg-secondary);
  transition: background-color 0.3s ease-in-out;
  gap: 1em;
  border-radius: var(--border-radius-sm);
  width: 100%;

  @media screen and (min-width: 768px) {
    width: 40%;
  }

  svg {
    left: 1rem;
    position: absolute;
    font-size: 1.3rem;
    color: var(--input-text-clr);
  }

  input {
    border: none;
    outline: none;
    width: 100%;
    padding: 1em 2em;
    background-color: transparent;
    color: var(--input-text-clr);
    padding-left: 4em;
  }

  ::placeholder {
    color: var(--text-secondary-clr);
  }
}
